.laser-flow-container {
  width: 100%;
  height: 140%;
  position: absolute;
  top: 0%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.laser-flow-container canvas {
  pointer-events: auto;
}
